
/* FOGLIO DI STILE*/

:root {
    --main-color: orange;
    --second-color: coral;
}

/*header*/
header {
    background-color: var(--main-color);
    text-align: center;
    color: #ffffff;
    padding: 25px;
}

/*body*/
body {
    background-image: url("resources/bg/back6.jpg");
    background-color: #cccccc;
    font-size: 100%;
}

/*footer*/
footer {
    background-color: var(--main-color);
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

/*pannello centrale*/
.center {
  text-align: center;
  font: 1em arial, sans-serif;
}
/*pannello sinistro*/
.left {

}
/*pannello destro*/
.right {

}

/*choice */
.choice {
  font: 1em arial, sans-serif;
  color: white;
  text-shadow: 2px 2px var(--main-color);
  font-size: 20px;
}
/*menu*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: var(--main-color);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: var(--second-color);
}

/*social container*/
.social {
      background-color: var(--second-color);
      color: #ffffff;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.follow-desc {
  display: none;
  font: 1em arial, sans-serif;
  font-size: 20px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/*info legali*/
.legal {
      background-color: var(--main-color);
      font: 1em arial, sans-serif;
      color: #ffffff;
      text-align: left;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*barra ricerca*/
  input[type=search] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('resources/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  input[type=search]:focus {
      width: 100%;
      text-shadow: 3px 3px 5px #ccc;
  }

/*bottoni*/
input[type=submit] {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid var(--main-color);
    border-radius: 24%;
    color: var(--second-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--main-color);
    color: white;
}

/*RESPONSIVE*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
}



@media screen and (min-width: 1000px) {
    .follow-desc:before {
        content: " Seguici su ";
        font-size: 12px;
        font-style: italic;
        color: #666666;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .follow-desc{ display:block;}
}
