
/* FOGLIO DI STILE*/

:root {
    --main-color: red;
    --second-color: pink;
}

html {
  noheight: 100%; //MI TOGLIE IL FOOTER
}

/*body*/
body {
    nobackground-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("resources/bg/back2.jpg");
    nobackground: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("resources/immaginiCibi/realpizza.jpg");
    background-color:  orange;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 100%;
    font: bold 24px calibri;
    padding: 0px;
    margin: 0px;
    noheight: 100%; //mi rende inutilizzabili i collegamenti del footer
}

/*sezione header*/
header {
    background-color: white;
    text-align: center;
    font-family: calibri;
    color: #000000;
    padding: 15px;
    background-image: url("resources/logoV2half.svg");
    background-repeat: no-repeat;
    background-size: contain;
    nobackground-position: -175px;
}
header h1 {
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 30px;
  display: block;
  font-weight: bold;
  line-height: 1.0;
}
header h2 {
  font-size: 1em;
  margin: 0px;
  font-weight: bold;
  line-height: 1.0;
}
header p {
  margin: 24px;
}
header a:visited, header a:hover, header a:link {
    color: black;
    text-decoration: none;
}

#allpage {
  NOheight: 100%;
}
/*sezione footer*/
/*not the footer*/
#not-footer {
  background-color: lightblue;
  height: 100%;
  nomin-height: 100vh;
  /*il margine qui sotto è l'altezza del footer*/
  margin-bottom: 200px;
  /* position: relative; tolto perchè non veniva fuori nel graph l'ombra*/
  z-index: 1;

  -webkit-box-shadow: #000 0 7px 35px 0;
  -moz-box-shadow: #000 0 7px 35px 0;
  box-shadow: #000 0 7px 35px 0;
}

footer {
  /*questo qui sotto più il padding deve concordare con il margin-bottom del non-footer*/
  min-height: 150px;
  padding: 25px 0;
	font-size: 55%;
  color: #ffffff;
  text-align: center;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

footer a {
  margin: auto;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}
footer a:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ffffff;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
  box-sizing: border-box;
}
footer a:hover {
  color: #2D2D2D;
}
footer a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

address {
  font-style: italic;
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
}

address p {
  margin: 14px;
}
/*pannello centrale*/
.center {
  text-align: center;
}
/*pannello sinistro*/
.left {

}
/*pannello destro*/
.right {
}

/*allineamenti*/
.allcenter {
  text-align: center;
}
.allleft {
  text-align: left;
}
.allright {
  text-align: right;
}

/*choice nel menù */
#choice {
  color: white;
  text-shadow: 2px 2px var(--main-color);
  font-size: 20px;
  padding: 50px;
  margin-bottom: 0px;
  background-image: url('resources/immaginiCibi/pianocucina.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  nobackground-color: rgba(255, 0, 0, 0.0); /*per rendere invisibile lo sfondo, così si vede l'immagine del altezzacento*/
}


/*menu di navigazione*/
nav {
  max-width: 960px;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
  margin: 0 auto;
  padding: 5px 0;
}

nav ul {
  text-align: center;
  /*background menù, da sx a dx da trasparente a colore a trasparente*/
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 255, 0, 0.4) 75%, rgba(255, 255, 255, 0) 100%);
  /*ombra box menù*/
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font: bold 0.5em calibri;
  notext-transform:uppercase;
  color: rgba(122, 0, 0, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  /*mouse sopra*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.1);
  /*colore testo mouse sopra*/
  color: rgba(122, 0, 0, 0.9);
}


/*social container*/
.social {
      color: #ffffff;
      text-align: center;
}

.follow-desc {
  display: none;
  font: 1em arial, sans-serif;
  font-size: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.24);
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/*discover nella home*/
.discover {
  padding: 260px 60px ;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.onions{
  background-image: url("resources/onions.svg");
  background-attachment: fixed;
}
.loca {
  background-image: url("resources/immaginiCibi/location.jpg");
}
.people {
  background-image: url("resources/immaginiCibi/contact.jpg");
  background-attachment: fixed;
}
.discover a:visited, .discover a:hover, .discover a:link {
    color: darkred;
    text-decoration: none;
}
.card {
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #666666;
  text-align: center;
  max-width: 400px;
  padding: 30px;
}

/*accedi*/
.logga {
  color: grey;
  border-radius: 30px;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("resources/bg/paper.jpg");
  text-align: center;
  nomax-width: 400px;
  padding: 30px;
}

.registra {
  color: #FFFFFF;
  border-radius:  0px 30px 30px 0px;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("resources/bg/bb1.jpg");
  text-align: center;
  nomax-width: 400px;
  padding: 20px;
}
/*info legali*/
.legal {
      background-color: var(--main-color);
      background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('resources/immaginiCibi/pizza-forno.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      text-shadow: 1px 1px 3px white;
      padding: 5%;
}
/*timeline*/
.timeline {
background-image: url("resources/immaginiCibi/pizza-posate.jpg");
background-size: cover;
background-attachment: fixed;
}

.timeline h1 {
text-shadow: 3px 3px 5px white;
z-index: 20;
}

.admin a {
  text-decoration: none;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.link1{
  /* background-image: url("resources/menu_con_logo.png"); */
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.link2{
  /* background-image: url("resources/grafico.png"); */
  margin: 20px;
  padding: 20px;
  border-radius: 7px;
}
/** sfondo **/
.easy1sfondo{
    background-image: url("resources/bg/4.jpg");
}
.easy2sfondo{
    background-image: url("resources/bg/5.jpg");
    background-size: cover;
}
.easy3sfondo{
    background-image: url("resources/bg/6.jpg");
    background-size: contain;
}
/** menu  **/
.listino{
    float: center;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url("resources/bg/paper2.jpg");
}

.pastiVeloci h3{
  text-shadow: 3px 2px red;
  color: #ffaa80;
}

.primi h3{
  text-shadow: 3px 2px orange;
  color: #ffcc00;
}

.bevande h3{
  text-shadow: 3px 2px blue;
  color: MediumSeaGreen;
}

.offert {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  border: solid;
  border-radius: 15px 50px;
  border-color: var(--main-color);
  margin: 10px;
  font: italic bold 16px/2 cursive;
  /* -webkit-transition: width 2s, height 4s; //tolte momentaneamente le animazioni perchè sono in mezzo alle palle
  transition: width 2s, height 4s; */
}

.offert img {
  width: 100px;
  height:100px;
  /* -webkit-transition: width 2s, height 2s;   //commentato perchè così non ci rompe le palle tutte le volte che passiamo sulle immagini
  transition: width 2s, height 2s; */
}

/* commentato perchè così non ci rompe le palle tutte le volte che passiamo sulle immagini */
/* .offert:hover img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
} */

.offert>form{
  margin-top: 70px;
}

.desc>p{
  text-align: center;
  margin: 10px;
}

.offert>img{
  margin: 10px;
}

.fast{
  border-color: #ffaa80;
}

.fast:hover{
  background-color: #ffccb3;
}

.meal{
  border-color: #ffcc00;
}

.meal:hover{
  background-color: #ffe066;
}

.drink{
  border-color: MediumSeaGreen;
}

.drink:hover{
  background-color: #79d2a6;
}

/*barra ricerca*/
  input[type=search] {
      width: 20%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 0.6em;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      background-color: white;
      background-image: url('resources/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  input[type=search]:focus {
      width: 75%;
      text-shadow: 3px 3px 5px #ccc;
  }

/*bottoni*/
input[type=submit] {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid var(--main-color);
    border-radius: 24%;
    color: var(--main-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--main-color);
    color: white;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 16px;
  line-height: 1;
  margin: 20px;
  padding: 12px 30px 12px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.third2  {
  border-color: green;
  color: #fff;
  box-shadow: 0 0 40px 40px green inset, 0 0 0 0 green;
  transition: all 150ms ease-in-out;
}
.third2:hover {
  box-shadow: 0 0 10px 0 green inset, 0 0 10px 4px green;
}
/*pulsanti nella choice della home che si allargano*/
.myButt {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  font-size: 20px;
  min-width: 175px;
  background-color: rgba(255,255,255,0.6);
  position: relative;
  border: 2px solid #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}

.one .insider { /*dentro al button ci va <div class='insider'></div> e poi il testo*/
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: absolute;
  left: -135px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
}
.one:hover {
  background-color: #F44336;
  border-color: #fff;
  color: #fff;
}
.one:hover .insider {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  left: 135px;
}

.two {
  color: darkred;
  border-color: darkred;
  border-radius: 5px;
}
.two:hover {
  border-color: #F44336;
  color: #F44336;
  animation: shakeThatBooty 0.3s linear 1;
  -webkit-animation: shakeThatBooty 0.3s linear 1;
  -moz-animation: shakeThatBooty 0.3s linear 1;
  -o-animation: shakeThatBooty 0.3s linear 1;
  -ms-animation: shakeThatBooty 0.3s linear 1;
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}
.three {
  color: #000;
  border-color: transparent;
}
.three:before, .three:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: darkred;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.three:after {
  top: 100%;
}
.three:hover {
  letter-spacing: 8px;
  color: darkred;
}
.three:hover:before, .three:hover:after {
  width: 100%;
  left: 0;
}
.three:hover:after {
  width: 100%;
  left: 0;
}

/*linea orrizzontale*/
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*tip hai dimenticato psw in accedi*/
.tip {
  color: red;
  font-size: 15px;
}
.tip a {
  color: red;
}

/*titoli form della registrazione*/
.clearfix {
  font-size: 0.8em;
}

/*titolo menu e altri*/
.title {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}


/******************************************************************************/
/******************************RESPONSIVE**************************************/
.row {
background-color: yellow;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    height: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .follow-desc{ display:block;}

    .fa { min-width: 110px;
    border-radius: 10px;}
}

@media screen and (min-width: 1000px) {
  /*per schermi molto grandi*/
    .follow-desc:before {
        content: " Seguici su ";
        font-size: 12px;
        color: #ffffff;
        font-style: italic;
    }
    .fa {
      min-width: 170px;
    }
}
