
/* FOGLIO DI STILE*/

:root {
    --main-color: red;
    --second-color: pink;
}



/*body*/
body {
    nobackground-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("resources/bg/back6.jpg");
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("resources/realpizza.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px;
    background-color: #FFFFFF;
    font-size: 100%;
    font: bold 1.5em calibri;
    padding: 0px;
    margin: 0px;
}

/*header*/
header {
    background-color: white;
    text-align: center;
    font-family: calibri;
    color: #000000;
    padding: 15px;
    background-image: url("resources/halflogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
header h1 {
  font-size: 4em;
}
header a:visited, header a:hover, header a:link {
    color: black;
    text-decoration: none;
}

/*footer*/
footer {
    background-color: var(--main-color);
    font-size: 60%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/*pannello centrale*/
.center {
  text-align: center;
}
/*pannello sinistro*/
.left {

}
/*pannello destro*/
.right {

}

/*choice */
.choice {
  color: white;
  text-shadow: 2px 2px var(--main-color);
  font-size: 20px;

  padding: 50px;
}

/*menu*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: var(--main-color);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: var(--second-color);
}

/*social container*/
.social {
      background-color: var(--second-color);
      color: #ffffff;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.follow-desc {
  display: none;
  font: 1em arial, sans-serif;
  font-size: 20px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/*discover home*/
.discover {
  padding: 260px 60px ;
  background-image: url("resources/onions.svg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.discover a:visited, .discover a:hover, .discover a:link {
    color: darkred;
    text-decoration: none;
}
.card {
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #666666;
  text-align: center;
  max-width: 400px;
  padding: 30px;
}

/*info legali*/
.legal {
      background-color: var(--main-color);
      font-size: 70%;
      color: #ffffff;
      text-align: left;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.listino{
    float: center;
    padding-left: 25px;
    padding-right: 25px;
}

.pastiVeloci h3{
  text-shadow: 3px 2px red;
  color: #ffaa80;
}

.primi h3{
  text-shadow: 3px 2px orange;
  color: #ffcc00;
}

.bevande h3{
  text-shadow: 3px 2px white;
  color: MediumSeaGreen;
}

.offert {
  padding: 15px;
  border: solid;
  border-radius: 15px 50px;
  margin: 10px;
  font: italic bold 16px/2 cursive;
}

.pv{
  text-align: center;
}

.fast{
  border-color: #ffaa80;
}

.fast:hover{
  background-color: #ffccb3;
}

.meal{
  border-color: #ffcc00;
}

.meal:hover{
  background-color: #ffe066;
}

.drink{
  border-color: MediumSeaGreen;
}

.drink:hover{
  background-color: #79d2a6;
}

/*barra ricerca*/
  input[type=search] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('resources/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  input[type=search]:focus {
      width: 100%;
      text-shadow: 3px 3px 5px #ccc;
  }

/*bottoni*/
input[type=submit] {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid var(--main-color);
    border-radius: 24%;
    color: var(--main-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--main-color);
    color: white;
}

/*RESPONSIVE*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .follow-desc{ display:block;}

    .fa { min-width: 110px;
    border-radius: 10px;}
}

@media screen and (min-width: 1000px) {
  /*per schermi grandi*/
    .follow-desc:before {
        content: " Seguici su ";
        font-size: 12px;
        color: #ffffff;
        font-style: italic;
    }
    .fa {
      min-width: 170px;
    }
}
