
/* FOGLIO DI STILE*/

:root {
    --main-color: red;
    --second-color: pink;
}



/*body*/
body {
    nobackground-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("resources/bg/back2.jpg");
    nobackground: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("resources/immaginiCibi/realpizza.jpg");
    background-color:  orange;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 100%;
    font: bold 1.5em calibri;
    padding: 0px;
    margin: 0px;
}

/*header*/
header {
    background-color: white;
    text-align: center;
    font-family: calibri;
    color: #000000;
    padding: 15px;
    background-image: url("resources/logoV2half.svg");
    background-repeat: no-repeat;
    background-size: contain;
    nobackground-position: -175px;
}
header h1 {
  font-size: 4em;
  margin-bottom: 0px;
}
header h2 {
  font-size: 1em;
  margin: 0px;
}
header a:visited, header a:hover, header a:link {
    color: black;
    text-decoration: none;
}

/*footer*/
/*not the footer*/
#not-footer {
  background-color: lightblue;
  min-height: 100%;
  min-height: 100vh;
  /*il margine qui sotto è l'altezza del footer*/
  margin-bottom: 200px;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: #000 0 7px 35px 0;
  -moz-box-shadow: #000 0 7px 35px 0;
  box-shadow: #000 0 7px 35px 0;
}

footer {
  /*questo qui sotto più il padding deve concordare con il margin-bottom del non-footer*/
  min-height: 150px;
  padding: 25px 0;
	font-size: 55%;
  color: #ffffff;
  text-align: center;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

footer a {
  margin: auto;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}
footer a:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ffffff;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}
footer a:hover {
  color: #2D2D2D;
}
footer a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

/*pannello centrale*/
.center {
  text-align: center;
}
/*pannello sinistro*/
.left {

}
/*pannello destro*/
.right {
}

/*choice */
.choice {
  color: white;
  text-shadow: 2px 2px var(--main-color);
  font-size: 20px;
  padding: 50px;
  background-image: url('resources/immaginiCibi/pianocucina.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}


/*menu di navigazione*/
nav {
  max-width: 960px;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
  margin: 0 auto;
  padding: 5px 0;
}

nav ul {
  text-align: center;
  /*background menù, da sx a dx da trasparente a colore a trasparente*/
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 255, 0, 0.4) 75%, rgba(255, 255, 255, 0) 100%);
  /*ombra box menù*/
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font: bold 0.5em calibri;
  notext-transform:uppercase;
  color: rgba(122, 0, 0, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  /*mouse sopra*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.1);
  /*colore testo mouse sopra*/
  color: rgba(122, 0, 0, 0.9);
}


/*social container*/
.social {
      background-color: var(--second-color);
      color: #ffffff;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.follow-desc {
  display: none;
  font: 1em arial, sans-serif;
  font-size: 20px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/*discover home*/
.discover {
  padding: 260px 60px ;
  background-color: white;
  background-image: url("resources/onions.svg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.discover a:visited, .discover a:hover, .discover a:link {
    color: darkred;
    text-decoration: none;
}
.card {
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #666666;
  text-align: center;
  max-width: 400px;
  padding: 30px;
}

/*info legali*/
.legal {
      background-color: var(--main-color);
      background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('resources/immaginiCibi/pizza-forno.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      text-shadow: 3px 3px 3px red;
      padding: 5%;
}
/*timeline*/
.timeline {
background-image: url("resources/immaginiCibi/pizza-posate.jpg");
background-size: cover;
background-attachment: fixed;
}

.timeline h1 {
text-shadow: 3px 3px 5px white;
z-index: 20;
}
/***/
.listino{
    float: center;
    padding-left: 25px;
    padding-right: 25px;
}

.pastiVeloci h3{
  text-shadow: 3px 2px red;
  color: #ffaa80;
}

.primi h3{
  text-shadow: 3px 2px orange;
  color: #ffcc00;
}

.bevande h3{
  text-shadow: 3px 2px white;
  color: MediumSeaGreen;
}

.offert {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  border: solid;
  border-radius: 15px 50px;
  margin: 10px;
  font: italic bold 16px/2 cursive;
}

.offert img {
  width: 100px;
  height:100px;
}

.offert>form{
  margin-top: 70px;
}

.desc>p{
  text-align: center;
  margin: 10px;
}

.offert>img{
  margin: 10px;
}

.fast{
  border-color: #ffaa80;
}

.fast:hover{
  background-color: #ffccb3;
}

.meal{
  border-color: #ffcc00;
}

.meal:hover{
  background-color: #ffe066;
}

.drink{
  border-color: MediumSeaGreen;
}

.drink:hover{
  background-color: #79d2a6;
}

/*barra ricerca*/
  input[type=search] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('resources/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  input[type=search]:focus {
      width: 100%;
      text-shadow: 3px 3px 5px #ccc;
  }

/*bottoni*/
input[type=submit] {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid var(--main-color);
    border-radius: 24%;
    color: var(--main-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--main-color);
    color: white;
}

/*pulsanti home*/
.myButt {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(255,255,255,0.5);
  position: relative;
  border: 2px solid #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}
/*dentro al button ci va <div class='insider'></div> e poi il testo*/
.one .insider {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: absolute;
  left: -135px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
}
.one:hover {
  background-color: #F44336;
  border-color: #fff;
  color: #fff;
}
.one:hover .insider {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  left: 135px;
}

.two {
  color: darkred;
  border-color: darkred;
  border-radius: 5px;
}
.two:hover {
  border-color: #F44336;
  color: #F44336;
  animation: shakeThatBooty 0.3s linear 1;
  -webkit-animation: shakeThatBooty 0.3s linear 1;
  -moz-animation: shakeThatBooty 0.3s linear 1;
  -o-animation: shakeThatBooty 0.3s linear 1;
  -ms-animation: shakeThatBooty 0.3s linear 1;
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}
.three {
  color: #000;
  border-color: transparent;
}
.three:before, .three:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: darkred;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.three:after {
  top: 100%;
}
.three:hover {
  letter-spacing: 8px;
  color: darkred;
}
.three:hover:before, .three:hover:after {
  width: 100%;
  left: 0;
}
.three:hover:after {
  width: 100%;
  left: 0;
}

/***********RESPONSIVE**************/
.row {
background-color: yellow;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    height: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .follow-desc{ display:block;}

    .fa { min-width: 110px;
    border-radius: 10px;}
}

@media screen and (min-width: 1000px) {
  /*per schermi molto grandi*/
    .follow-desc:before {
        content: " Seguici su ";
        font-size: 12px;
        color: #ffffff;
        font-style: italic;
    }
    .fa {
      min-width: 170px;
    }
}
